# ASKP CLI Testing Results
## Testing Version Reporting
```
askd version 2.0.0
askd version 2.0.0
```
## Testing Help Command
```
